body {
    background-color: rgb(255, 219, 103); 
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.pagina {
    display: flex;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(2px); /* Aplica o desfoque */
    -webkit-backdrop-filter: blur(2px); /* Para compatibilidade com Safari */
    pointer-events: none; /* Evita que o header bloqueie interações com os elementos abaixo */
    z-index: 1000; /* Garante que o header esteja acima dos outros elementos */
}

.navegacao {
    position: fixed;
    right: 160px;
    top: 150px;
}

.navegacao::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px; 
    height: 100%;
    background-color: rgb(182, 156, 72); 
    transition: background-color 0.5s ease-in-out; 
}

.navegacao h2, a {
    text-decoration: none;
    font-size: 17px;
    color: #000;
    font-weight: 500;
}

.lista-sessoes {
    display: flex;
    flex-direction: column;
    gap: 9px;
    max-width: 300px;
    padding: 0;
    margin: 0;
}

.lista-sessoes:hover ~ .navegacao::before {
    background-color: #000;
}

.sessoes {
    padding-left: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    position: relative;
    width: 300px;
    height: 42px;
    overflow: hidden;
    align-items: center;
}
.sessoes::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15); 
    transition: width 0.5s ease-in-out; 
}

.sessoes:hover::after {
    width: 100%;
    cursor: pointer;
}

li::marker {
    content: none;
}

.descricao-nav {
    margin-top: 40px;
    margin-left: 34px;
}

.container-fluido {
    margin-top: 100px;
    margin-left: 100px;
    width: 1275px;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    width: 1280px;
    margin-bottom: 250px;
}

.foto-pessoal {
    position: relative;
    width: 400px; 
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-pessoal img {
    border-radius: 50%;
    object-fit: cover;
    border: 2px;
    border-style: solid;
}

.conteudo {
    margin-top: 20px;
}

.conteudo h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

.conteudo h2 {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}

.botoes-topo{
    display: flex;
    margin-top: 40px;
    justify-content: start;
    gap: 30px;
}

.botoes-topo a {
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 30px;
}

#botao-projetos {
    color: #FFF;
    background-color: #000;
}

#botao-contato {
    color: #000;
    border: #000 solid 1.7px;
}

#botao-contato:hover {
    background-color: #000;
    color: #FFF;
}

.Typewriter__wrapper {
    font-size: 100px;
    font-weight: 600;
}

.Typewriter__cursor {
    font-size: 100px;
    font-weight: bold;
    display: inline;
    margin-left: -10px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* Criando as ondas no contorno */
.foto-pessoal span {
    position: absolute;
    width: 400px; 
    height: 400px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    animation: ondas 1.7s infinite linear; /* Tempo total da animação */
}

.foto-pessoal span:nth-child(1) {
    animation-delay: 0s;
}

.foto-pessoal span:nth-child(2) {
    animation-delay: 0.425s; 
}

.foto-pessoal span:nth-child(3) {
    animation-delay: 0.85s;  
}

.foto-pessoal span:nth-child(4) {
    animation-delay: 1.275s; 
}

@keyframes ondas {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}