.projetos {
  width: 1280px;
  margin-bottom: 148px;
}

#projetos {
  font-family: "Times New Roman";
  position: absolute;
  font-size: 160px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.05);
  top: 363%;
  right: 48.5%;
}

.introducao-projetos {
  position: relative;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-top: 36px;
  margin-top: 120px;
  margin-bottom: 62px;
}

.introducao-projetos::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #000;
}

.introducao-projetos h4,
h2 {
  margin: 0;
}

.introducao-projetos h4 {
  font-size: 24px;
  font-weight: 500;
}

.introducao-projetos h2 {
  font-size: 80px;
  font-weight: 600;
}

.container-projetos {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.desc-projeto {
  margin-top: 27px;
}

.desc-projeto h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
}

.desc-projeto p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
}

.desc-projeto h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.img-projeto {
  width: 407px;
  height: 468px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--primary));
  position: relative;
  flex-shrink: 0; /* Impede que as divs encolham */
}

.img-projeto:hover {
  cursor: pointer;
}

.img-projeto img {
  transition: transform 1000ms linear;
}

.img-projeto img:hover {
  transform: scale(0.99);
}

/* Contornos irregulares do quadrado */
.img-projeto::before,
.img-projeto::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(var(--black));
  z-index: -1;
  opacity: 0;
}

.img-projeto:hover::before {
  transform: rotate(2.5deg);
  opacity: 1;
}

.img-projeto:hover::after {
  transform: rotate(-2.5deg);
  opacity: 1;
}

.img-projeto::before,
.img-projeto::after {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

@media (max-width: 1536px) {
  .projetos {
    width: 1024px; /* 1280px * 0.8 */
    margin-bottom: 118px; /* 148px * 0.8 */
  }

  #projetos {
    font-size: 128px; /* 160px * 0.8 */
    top: 363%; /* 449% * 0.8 */
    right: 48.8%; /* 48.5% * 0.8 */
  }

  .introducao-projetos {
    padding-bottom: 16px; /* 20px * 0.8 */
    padding-left: 48px; /* 60px * 0.8 */
    padding-top: 29px; /* 36px * 0.8 */
    margin-top: 96px; /* 120px * 0.8 */
    margin-bottom: 50px; /* 62px * 0.8 */
  }

  .introducao-projetos h4 {
    font-size: 19px; /* 24px * 0.8 */
  }

  .introducao-projetos h2 {
    font-size: 64px; /* 80px * 0.8 */
  }

  .container-projetos {
    width: 1024px; /* 1280px * 0.8 */
    margin-left: 8px; /* 10px * 0.8 */
  }

  .desc-projeto {
    margin-top: 22px; /* 27px * 0.8 */
  }

  .desc-projeto h2 {
    font-size: 26px; /* 32px * 0.8 */
    margin-bottom: 3px; /* 4px * 0.8 */
  }

  .desc-projeto p {
    font-size: 13px; /* 16px * 0.8 */
    margin-bottom: 10px; /* 12px * 0.8 */
  }

  .desc-projeto h4 {
    font-size: 11px; /* 14px * 0.8 */
  }

  .img-projeto {
    width: 326px; /* 407px * 0.8 */
    height: 374px; /* 468px * 0.8 */
  }

  .img-projeto img {
    width: 326px; /* 407px * 0.8 */
    height: 374px; /* 468px * 0.8 */
  }
}

@media (max-width: 1400px) {
  .projetos {
    width: 933px; /* 1280px * 0.729 */
    margin-bottom: 108px; /* 148px * 0.729 */
  }

  #projetos {
    font-size: 117px; /* 160px * 0.729 */
    top: 409%; /* Não alterado, pois é uma porcentagem */
    right: 48.5%; /* Não alterado, pois é uma porcentagem */
  }

  .introducao-projetos {
    padding-bottom: 15px; /* 20px * 0.729 */
    padding-left: 44px; /* 60px * 0.729 */
    padding-top: 26px; /* 36px * 0.729 */
    margin-top: 87px; /* 120px * 0.729 */
    margin-bottom: 45px; /* 62px * 0.729 */
  }

  .introducao-projetos h4 {
    font-size: 17px; /* 24px * 0.729 */
  }

  .introducao-projetos h2 {
    font-size: 58px; /* 80px * 0.729 */
  }

  .container-projetos {
    width: 910px; /* 1280px * 0.729 */
    margin-left: 7px; /* 10px * 0.729 */
  }

  .desc-projeto {
    margin-top: 20px; /* 27px * 0.729 */
  }

  .desc-projeto h2 {
    font-size: 23px; /* 32px * 0.729 */
    margin-bottom: 3px; /* 4px * 0.729 */
  }

  .desc-projeto p {
    font-size: 12px; /* 16px * 0.729 */
    margin-bottom: 9px; /* 12px * 0.729 */
  }

  .desc-projeto h4 {
    font-size: 10px; /* 14px * 0.729 */
  }

  .img-projeto {
    width: 297px; /* 407px * 0.729 */
    height: 341px; /* 468px * 0.729 */
  }

  .img-projeto img {
    width: 297px; /* 407px * 0.729 */
    height: 341px; /* 468px * 0.729 */
  }
}

@media (max-width: 1366px) {
  .projetos {
    width: 910px; /* 1280px * 0.711 */
    margin-bottom: 105px; /* 148px * 0.711 */
  }

  #projetos {
    font-size: 114px; /* 160px * 0.711 */
    top: 362%; /* 449% * 0.711 */
    right: 48%; /* 48.5% * 0.711 */
  }

  .introducao-projetos {
    padding-bottom: 14px; /* 20px * 0.711 */
    padding-left: 43px; /* 60px * 0.711 */
    padding-top: 26px; /* 36px * 0.711 */
    margin-top: 85px; /* 120px * 0.711 */
    margin-bottom: 44px; /* 62px * 0.711 */
  }

  .introducao-projetos h4 {
    font-size: 17px; /* 24px * 0.711 */
  }

  .introducao-projetos h2 {
    font-size: 57px; /* 80px * 0.711 */
  }

  .container-projetos {
    width: 910px; /* 1280px * 0.711 */
    margin-left: 7px; /* 10px * 0.711 */
  }

  .desc-projeto h2 {
    font-size: 23px; /* 32px * 0.711 */
    margin-bottom: 3px; /* 4px * 0.711 */
  }

  .desc-projeto p {
    font-size: 11px; /* 16px * 0.711 */
    margin-bottom: 9px; /* 12px * 0.711 */
  }

  .desc-projeto h4 {
    font-size: 10px; /* 14px * 0.711 */
  }

  .img-projeto {
    width: 289px; /* 407px * 0.711 */
    height: 333px; /* 468px * 0.711 */
  }

  .img-projeto img {
    width: 289px; /* 407px * 0.711 */
    height: 333px; /* 468px * 0.711 */
  }
}
